{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_field, render_button_bar %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}

<section>
    <div class="page-header">
        <h1>{{task.service.name}}: {{ task.name }}</h1>
        <h2>To Do List</h2>

        {{ render_search(
            search_form,
            'ui.task_todo_list',
            placeholder='enter search text',
            task_id=task.id,
            buttons=[
                {
                    'id': 'add_item',
                    'text': 'Add To Do',
                },
                {
                    'text': 'Back',
                    'url': prev,
                }
            ],
        )}}

    </div>

    <ul class="list-group">
        {% for t in task.todos %}
            <li class="list-group-item">
                <div class="row">
                    <div class='col-1'>
                        <a href="" class="todo_edit" data-todo-id="{{ t.id }}" data-description="{{ t.description }}"><i class="far fa-edit"></i></a>
                        {% if t.status == 0 %}
                            <a href="" class="todo_checkbox" data-todo-id="{{ t.id }}" data-action="check"><i class="far fa-square"></i></a>
                        {% elif t.status == 1 %}
                            <a href="" class="todo_checkbox" data-todo-id="{{ t.id }}" data-action="unneeded"><i class="far fa-check-square"></i></a>
                        {% elif t.status == -1 %}
                            <a href="" class="todo_checkbox" data-todo-id="{{ t.id }}" data-action="uncheck"><i class="fas fa-ban"></i></a>
                        {% endif %}
                    </div>
                    <div class='col'>
                        <p>{{ t.description }}</p>
                        <p>{{ t.created_date | datetime_humanize }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% call render_modal('edit_todo_modal', 'To Do') %}
<form id="todo_form" method="POST" action="{{ url_for('ui.task_save_todo', task_id=task.id) }}" class="form panel-body" enctype="multipart/form-data">
    <fieldset>
        {{ todo_form.hidden_tag() }}

        {% for f in todo_form %}
            {{ render_field(f) }}
        {% endfor %}

        {{ render_button_bar(submit_label="Save") }}
    </fieldset>
</form>
{% endcall %}

{% endblock %}

{% block js %}

<script>
    function show_edit_dialog(todo_id, todo_description) {
        modal = $('#edit_todo_modal')

        modal.find('#todo_id').val(todo_id);
        modal.find('#description').text(todo_description);

        modal.modal('show');
    }

    $(document).ready(function(){
        $('#add_item').click(function (event) {
            show_edit_dialog('', '');
            event.preventDefault();
            return false;
        });
    });

    $(document).ready(function(){
        $('.todo_edit').click(function (event) {
            show_edit_dialog(this.getAttribute("data-todo-id"), this.getAttribute("data-description"));
            event.preventDefault();
            return false;
        });
    });

    $(document).ready(function(){
        url = "{{ url_for('ui.todo_update_status') }}";

        $('.todo_checkbox').click(function (event) {
            event.preventDefault();

            fetch(url, {
                method: 'post',
                headers: {"Content-type": "application/json; charset=UTF-8"},
                body: JSON.stringify({
                    todo_id: this.getAttribute("data-todo-id"),
                    action: this.getAttribute("data-action"),
                }),
            })
            .then(standard_status_actions);

            return false;
        });
    });
</script>

{% endblock %}