export DEBUG='False'
export FILE_UPLOAD_DIRECTORY='xxxxxx - change me - xxxxxx'
export SQLALCHEMY_ECHO='False'
export ADMIN_EMAIL_ADDRESSES="xxxxxx - change me - xxxxxx"
export MAIL_DEFAULT_SENDER="xxxxxx - change me - xxxxxx"
export SECURITY_EMAIL_SENDER="xxxxxx - change me - xxxxxx"
export SQLALCHEMY_DATABASE_URI="xxxxxx - change me - xxxxxx"
export SECURITY_SEND_PASSWORD_CHANGE_EMAIL=False

export SECRET_KEY='xxxxxx - change me - xxxxxx'
export SECURITY_PASSWORD_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_CONFIRM_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_RESET_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_LOGIN_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_REMEMBER_SALT='xxxxxx - change me - xxxxxx'

export TEST_FILE_UPLOAD_DIRECTORY='xxxxxx - change me - xxxxxx'

# LDAP
export LDAP_URI='xxxxxx - change me - xxxxxx'
export LDAP_USER='xxxxxx - change me - xxxxxx'
export LDAP_PASSWORD='xxxxxx - change me - xxxxxx'
export LDAP_BASEDN='xxxxxx - change me - xxxxxx'
export LDAP_BIND_WHO_FORMAT='xxxxxx - change me - xxxxxx'
export LDAP_SEARCH_FORMAT='xxxxxx - change me - xxxxxx'
