{% extends "lbrc/modal.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_modal_button_bar %}

{% block content %}
    <h2>{{ title }}</h2>

    <form action="{{ url }}" method="POST" hx-post="{{ url }}" hx-indicator="#spinner" enctype="multipart/form-data">
        <fieldset>
            {% if warning %}
                <div class="pill warning icon exclamation">{{warning}}</div>
            {% endif %}
            {{render_form_fields(form)}}
            {{render_modal_button_bar(submit_label=submit_label, delete_link=delete_link)}}
        </fieldset>                   
    </form>
{% endblock %}
