{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}
{% from "ui/quote/_details.html" import render_quote_details %}

{% block menu_page_content %}

<section class="container">
    <header>
        <h2>Quotes</h2>

        <form action="{{ url_for('ui.quotes') }}" method="GET" enctype="multipart/form-data">
            <fieldset class="columns">
                {{ render_form_fields(search_form) }}

                <div class="button_bar">
                    <button type="submit" formaction="{{ url_for('ui.quotes_export') }}" formmethod="get">Export</button>
                    <a title="Create Quote" hx-get="{{ url_for('ui.create_quote') }}" hx-target="body" hx-swap="beforeend" href="javascript:;" class="icon add" role="button">Create</a>
                </div>
            </fieldset>
        </form>
    </header>

    <ul class="panel_list">
        {% for q in quotes.items %}
            <li>
                <header>
                    <div class="flex_two_left_grow">
                        <div>
                            <h3>{{ q.name }}</h3>
                            <h4>For <a href="mailto:{{q.requestor.email}}">{{q.requestor.full_name }}</a> created {{ q.created_date | datetime_humanize }}</h4>
                            <h5>ref: {{ q.reference }}</h5>    
                        </div>
                        <div>
                            <nav class="link_list">
                                <a title="Edit quote {{ q.name }}" hx-get="{{ url_for('ui.edit_quote', quote_id=q.id) }}" hx-target="body" hx-swap="beforeend" href="javascript:;" class="icon edit"></a>
                            </nav>
                        </div>
                    </div>
                </header>

                {{ render_quote_details(q, 'quote') }}
            </li>
        {% endfor %}
    </ul>
    
</section>

{{ render_pagination(quotes, 'ui.quotes', form=search_form) }}

{% endblock %}

