{% macro render_tasks_list(tasks, show_owner_controls=False) %}

<ul class="list-group">
    {% for t in tasks.items %}
        <li class="list-group-item">
            <div class='summary_details'>
                <div class="row">
                    <div class="col-7">
                        <header>
                            <h1>
                                <span>#{{t.id}} {{t.service.name}}: {{ t.name }}</span>
                                {% if not show_owner_controls %}
                                    <span class="badge badge-secondary">{{ t.current_status_type.name }}</span>
                                {% endif %}
                            </h1>
                            <h2>For <a href="mailto:{{t.requestor.email}}">{{t.requestor.full_name }}</a> created {{ t.created_date | datetime_humanize }}</h2>
                        </header>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a class="btn btn-primary" href="{{ url_for('ui.edit_task', task_id=t.id, prev=request.full_path) }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>

                            {% if not show_owner_controls %}

                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a class="btn btn-primary"
                                        data-toggle="modal"
                                        data-task-id="{{ t.id }}"
                                        data-name="{{ t.name }}"
                                        data-target="#cancelRequestModal"
                                        href="#">Cancel Request</a>
                                </div>

                            {% else %}

                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a class="btn btn-primary" href="{{ url_for('ui.task_todo_list', task_id=t.id, prev=request.full_path) }}">
                                        <i class="fas fa-clipboard-check"></i>
                                        {% if t.required_todos > 0 %}
                                            <span>({{t.complete_todos}} / {{t.required_todos}})</span>
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="btn-group mr-1 mb-1" role="group">
                                    <button id="btnGroupAssignedUser" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ t.current_assigned_user.full_name | default_if_none('Unassigned') }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupAssignedUser">
                                        <a class="dropdown-item" href="{{ url_for('ui.assign_to_me', task_id=t.id) }}">Assign to Me</a>
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-current-assigned-user-id="{{ t.current_assigned_user.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#updateAssignedUserModal"
                                            href="#">Assign to User</a>
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#showAssignedUserHistoryModal"
                                            href="#">Show History</a>
                                    </div>
                                </div>

                                <div class="btn-group mb-1" role="group">
                                    <button id="btnGroupStatus" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ t.current_status_type.name }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-current-status-type-id="{{ t.current_status_type.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#updateStatusModal"
                                            href="#">Update Status</a>
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#showStatusHistoryModal"
                                            href="#">Show History</a>
                                    </div>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>

                <dl>
                    {% for field_name, files in t.files | groupby("field.field_name") %}
                        <dt>{{ field_name }}</dt>
                        <dd>
                            {% for f in files %}
                                <a class='download' href="{{ url_for('ui.download_task_file', task_id=t.id, task_file_id=f.id) }}">
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                    {{ f.filename }}
                                </a>
                            {% endfor %}
                        </dd>
                    {% endfor %}
                </dl>

                <dl>
                    {% for d in t.data %}
                        <dt>{{ d.field.field_name }}</dt>
                        {% if d.field.field_type.is_textarea %}
                            <dd>{{ d.formated_value | blank_if_none | pre }}</dd>
                        {% else %}
                            <dd>{{ d.formated_value | blank_if_none }}</dd>
                        {% endif %}
                    {% endfor %}
                </dl>
                
            </div>
        </li>
    {% endfor %}
</ul>

{% endmacro %}