<ul class="list-group">
    {% for ta in task_assignments %}
        <li class="list-group-item">
            <div class='summary_details'>
                <header>
                    <div>
                        <h1>{{ta.user.full_name | default_if_none('Unassigned') }}</h1>
                        <h2>Created {{ ta.created_date | datetime_humanize }}</h2>
                    </div>
                </header>
                <p>{{ ta.notes }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
