{% extends "ui/page.html" %}

{% block content %}

<section>
    <p>
        To create a request for a BRC core service, please click one of the buttons below and fill in as many details about your request as you can.
        Once your request has been created, you will receive an email confirmation and the appropriate service providers will be notified and will
        contact you for additional information.
    </p>
    <p>
        Your outstanding and historic requests can be viewed from the 'My Requests' tab by clicking the link above.  From that tab you can
        see the details and current status of your requests and make amendments, if required.  Notifications of amendments will be sent
        to the appropriate service providers.
    </p>
    <div class="card-columns">
        {% for s in services %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ s.name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ s.description | blank_if_none}}</p>
                    <a href="{{ url_for('ui.create_task', service_id=s.id, prev=url_for('ui.index') ) }}" class="btn btn-primary">Request {{s.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}