{% extends "ui/menu_page.html" %}

{% block menu_page_content %}

<section class="container">
    <header>
        <h2>BRC Core Team Services</h2>
        <h3>Create a request for one of the BRC Core teams by clicking on a button below</h3>
    </header>
    <ul class="cards">
        {% for s in services %}
            <li>
                <header>
                    <h2>{{ s.name }}</h2>
                </header>
                <p>{{ s.description | blank_if_none | markdown }}</p>
                <div class="button_bar">
                    <a href="{{ url_for('ui.service_form_pdf', service_id=s.id ) }}" class="icon pdf" role="button"></a>
                    <a hx-get="{{ url_for('ui.create_task', service_id=s.id ) }}" hx-target="body" hx-swap="beforeend" role="button">Request {{s.name}} Services</a>
                </div>
            </li>
        {% endfor %}
        </ul>
</section>

{% endblock %}
