{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_field, render_button_bar %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}

<section>
    <div class="page-header">
        <h1>My Jobs</h1>

        {{ render_search(search_form, 'ui.my_jobs', placeholder='enter search text - searches names') }}

    </div>

    <ul class="list-group">
        {% for t in tasks.items %}
            <li class="list-group-item">
                <div class='summary_details row'>
                    <div class="col-12 col-xl-7">
                        <header>
                            <h1>{{t.service.name}}: {{ t.name }}</h1>
                            <h2>For <a href="mailto:{{t.requestor.email}}">{{t.requestor.full_name }}</a> created {{ t.created_date | datetime_humanize }}</h2>
                        </header>
                        <div class="row">
                            <dl class="col-12 col-md">
                                {% for d in t.data %}
                                    <dt>{{ d.field.field_name }}</dt>
                                    <dd>{{ d.formated_value | blank_if_none }}</dd>
                                {% endfor %}
                            </dl>

                            {% if t.files | length > 0 %}
                                <div class="col-12 col-md">
                                    <h3>Attachments</h3>
                                    <div>
                                        {% for f in t.files %}
                                            <a class='download' href="{{ url_for('ui.download_task_file', task_id=t.id, task_file_id=f.id) }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> {{ f.filename }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 col-xl-5">
                        <div class="clearfix">
                            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-1" role="group">
                                    <a class="btn btn-primary" href="{{ url_for('ui.edit_task', task_id=t.id, prev=request.full_path) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                <div class="btn-group mr-1" role="group">
                                    <a class="btn btn-primary" href="{{ url_for('ui.task_todo_list', task_id=t.id, prev=request.full_path) }}">
                                        <i class="fas fa-clipboard-check"></i>
                                        {% if t.required_todos > 0 %}
                                            <span>({{t.complete_todos}} / {{t.required_todos}})</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="btn-group mr-1" role="group">
                                    <button id="btnGroupAssignedUser" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ t.current_assigned_user.full_name | default_if_none('Unassigned') }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupAssignedUser">
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-current-assigned-user-id="{{ t.current_assigned_user.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#updateAssignedUserModal"
                                            href="#">Assign to User</a>
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#showAssignedUserHistoryModal"
                                            href="#">Show History</a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupStatus" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ t.current_status_type.name }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-current-status-type-id="{{ t.current_status_type.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#updateStatusModal"
                                            href="#">Update Status</a>
                                        <a class="dropdown-item"
                                            data-toggle="modal"
                                            data-task-id="{{ t.id }}"
                                            data-name="{{ t.name }}"
                                            data-target="#showStatusHistoryModal"
                                            href="#">Show History</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(tasks, 'ui.my_jobs', form=search_form) }}

{% call render_modal('updateStatusModal', 'Update Status') %}
    <p id="modal_description">Set new status for "<span id="task_name"></span>".</p>
    <form id="task_status_form" action="{{ url_for('ui.task_update_status') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ task_update_status_form.hidden_tag() }}

            {% for f in task_update_status_form %}
                {{ render_field(f) }}
            {% endfor %}

            {{ render_button_bar('ui.my_jobs', submit_label="Save") }}
        </fieldset>
    </form>
{% endcall %}

{% call render_modal('updateAssignedUserModal', 'Update Assigned User') %}
    <p id="modal_description">Set assigned user for "<span id="task_name"></span>".</p>
    <form id="task_update_assigned_user_form" action="{{ url_for('ui.update_assigned_user') }}" method="POST" class="form panel-body" enctype="multipart/form-data">
        <fieldset>
            {{ task_update_assigned_user_form.hidden_tag() }}

            {% for f in task_update_assigned_user_form %}
                {{ render_field(f) }}
            {% endfor %}

            {{ render_button_bar('ui.my_jobs', submit_label="Save") }}
        </fieldset>
    </form>
{% endcall %}

{% call render_modal('showStatusHistoryModal', 'Status History') %}
    <p id="modal_description">Status history for "<span id="task_name"></span>".</p>

    <div id="showStatusHistoryModal_content"></div>
{% endcall %}

{% call render_modal('showAssignedUserHistoryModal', 'Assignment History') %}
    <p id="modal_description">Assignment history for "<span id="task_name"></span>".</p>

    <div id="showAssignedUserHistoryModal_content"></div>
{% endcall %}

{% endblock %}

{% block js %}

<script>
    $(document).ready(function(){
        $('#updateStatusModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var task_id = button.data('task-id');
            var current_status_type_id = button.data('current-status-type-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#task_name').text(name);

            modal.find("#status").val(current_status_type_id);
            modal.find("#task_id").val(task_id);
        });
    });

    $(document).ready(function(){
        $('#updateAssignedUserModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var task_id = button.data('task-id');
            var current_assigned_user_id = button.data('current-assigned-user-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#task_name').text(name);

            url = `{{ request.script_root | safe }}/task/${task_id}/assigned_user_options`;

            fetch(url).then(function(response) {
                response.json().then(function(data){
                    let option_html = '';

                    for (let u of data.results) {
                        option_html += `<option value="${u.id}">${u.name}</option>`;
                    }

                    let assigned_user_select = document.getElementById('assigned_user')
                    assigned_user_select.innerHTML = option_html;

                    assigned_user_select.value = current_assigned_user_id;
                })
            })

            modal.find("#task_id").val(task_id);

        });
    });

    $(document).ready(function(){
        $('#showStatusHistoryModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var task_id = button.data('task-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#task_name').text(name);

            let showStatusHistoryModal_content = document.getElementById('showStatusHistoryModal_content')
            showStatusHistoryModal_content.innerHTML = '';

            url = `{{ request.script_root | safe }}/task/${task_id}/status_history`;

            fetch(url).then(function(response) {
                return response.text();
            }).then(function (html) {
                showStatusHistoryModal_content.innerHTML = html;
            })

        });
    });

    $(document).ready(function(){
        $('#showAssignedUserHistoryModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var task_id = button.data('task-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#task_name').text(name);

            url = `{{ request.script_root | safe }}/task/${task_id}/assignment_history`;

            let showAssignedUserHistoryModal_content = document.getElementById('showAssignedUserHistoryModal_content')
            showAssignedUserHistoryModal_content.innerHTML = '';

            fetch(url).then(function(response) {
                return response.text();
            }).then(function (html) {
                showAssignedUserHistoryModal_content.innerHTML = html;
            })

        });
    });

</script>

{% endblock %}