{% extends "ui/menu_page.html" %}
{% from "ui/_task_list.html" import render_tasks_list %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block menu_page_content %}

<section class="container">
    <header>
        <h2>My Jobs</h2>

        <form action="{{ url_for('ui.my_jobs') }}" method="GET" enctype="multipart/form-data">
            <fieldset class="columns">
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(tasks, 'task') }}
    {{ render_tasks_list(tasks, show_owner_controls=True) }}
    {{ render_pagination(tasks, 'ui.my_requests', form=search_form) }}
</section>

{% endblock %}
