{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/nav_macros.html" import render_nav_item with context %}

{% block navlinks %}

{{ render_nav_item('ui.my_requests', 'My Requests') }}

{% if current_user.service_owner %}
    {{ render_nav_item('ui.my_jobs', 'My Jobs') }}
    {{ render_nav_item('ui.reports', 'Reports') }}
    {{ render_nav_item('ui.quotes', 'Quotes') }}
{% endif %}

{% if current_user.has_role('exporter') %}
    {{ render_nav_item('ui.export', 'Export') }}
{% endif %}

{% endblock %}