{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search %}

{% block content %}

<section>
    <div class="page-header">
        <h1>Reports</h1>

        {{ render_search(
            search_form,
            'ui.reports',
            placeholder='enter search text - searches names',
            buttons=[
                {
                    'id': 'download',
                    'text': 'Download',
                    'endpoint': 'ui.report_png',
                    'add_form_fields': True,
                },
            ],
        ) }}
    </div>

    <div id="chart">
        <embed type="image/svg+xml" src= {{ chart|safe }} />
    </div>

</section>

{% endblock %}