{% extends "ui/page.html" %}
{% import "lbrc_flask/form_macros.html" as form_macros %}
{% import "/ui/_request_list.html" as  request_list%}

{% block content %}

<section>
    <div class="page-header">
        <h1>My Jobs</h1>

        {{ form_macros.render_search(search_form, 'ui.my_jobs', placeholder='enter search text - searches request name') }}

    </div>

    {{ request_list.render(requests, True) }}

</section>

{{ form_macros.render_pagination(requests, 'ui.my_jobs', search=search_form.search.data) }}

<div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog" aria-labelledby="updateStatusModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStatusModalLabel">Update Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <p id="modal_description">Set new status for "<span id="request_name"></span>".</p>
            <form id="request_status_form" method="POST" class="form panel-body" enctype="multipart/form-data">
                <fieldset>
                    {{ request_update_status_form.hidden_tag() }}

                    {% for f in request_update_status_form %}
                        {{ form_macros.render_field(f) }}
                    {% endfor %}

                    {{ form_macros.render_button_bar('ui.my_jobs', submit_label="Save") }}
                </fieldset>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="showStatusHistoryModal" tabindex="-1" role="dialog" aria-labelledby="showStatusHistoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showStatusHistoryModalLabel">Status History</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <p id="modal_description">Status history for "<span id="request_name"></span>".</p>

            <div id="showStatusHistoryModal_content"></div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    $(document).ready(function(){
        $('#updateStatusModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var request_id = button.data('request-id');
            var current_status_type_id = button.data('current-status-type-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#request_name').text(name);

            modal.find("#status").val(current_status_type_id);
            modal.find("#request_id").val(request_id);
        });
    });

    $(document).ready(function(){
        $('#showStatusHistoryModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var request_id = button.data('request-id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#request_name').text(name);

            url = "{{ request.script_root|safe }}" + '/request/' + request_id + '/status_history';
            modal.find('#showStatusHistoryModal_content').html('');

            callback = function(m) {
                return function (data) {
                    m.find('#showStatusHistoryModal_content').html(data);
                }
            }

            $.get(url, callback(modal));

        });
    });
</script>

{% endblock %}