{% extends "ui/page.html" %}
{% import "lbrc_flask/form_macros.html" as form_macros %}
{% import "/ui/_request_list.html" as  request_list%}

{% block content %}

<section>
    <div class="page-header">
        <h1>My Requests</h1>

        {{ form_macros.render_search(search_form, 'ui.my_requests', placeholder='enter search text - searches request name') }}

    </div>

    {{ request_list.render(requests, False) }}

</section>

{{ form_macros.render_pagination(requests, 'ui.my_requests', search=search_form.search.data) }}

{% endblock %}